@import "flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slide-down {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  .slide-down {
    animation: slide-down 0.3s ease-out forwards;
  }

  .slide-up {
    animation: slide-up 0.3s ease-in forwards;
  }

  .slide-none {
    animation: none !important; /* Disable any animation */
  }
}
